/*
The hide navbar animation
*/

#navbar {
    width: 100%;
    transition: top 0.3s;
    background: linear-gradient(120deg, rgba(11,17,33,1) 30%, rgba(41,43,44,1) 100%);
}

/*
The Logo text style
*/

.logo-name {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0px -2px 0px #601035, 0px -4px 0px #961B3A, 0px -6px 0px #C71B25, 0px -8px 0px #D83C25, 0px -10px 0px #DAB046;
}

/*
The read more button for the reviews in the mobile version
*/

#review #reviewText.collapse:not(.show) {
    display: block;
    height: 7rem;
    overflow: hidden;
}

#review #reviewText.collapsing {
    height: 7rem;
}

#review a.collapsed::after {
    content: '+ Leer más';
}

#review a:not(.collapsed)::after {
    content: '- Ocultar';
}

/*
The background gradient
*/

.bg-gradient {
    background: linear-gradient(0deg, hsla(341, 100%, 53%, 0.7) 0%, hsla(224, 50%, 9%, 0.7) 50%);
    backdrop-filter: blur(4px);
}

/*
The positioning of the profile pic for the home view
*/

.profile-picture {
    position: relative;
    top: 30px;
}

/*
The custom style for the scrollbar
*/

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 150px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right,#601035 20%,#961B3A 20% 40%,#C71B25 40% 60%,#D83C25 60% 80%,#DAB046 80% 100%);
    border-radius: 10px;
}